{% extends 'base.html.twig' %}

{% block title %}Map of Madagascar prévision{% endblock %}

{% block menuactive %}map{% endblock %}

{% block body %}
<style>
    #map {
        height: 700px;
        width: 100%;
        position: relative;
    }

    .content-container {
        display: flex;
        flex-direction: row;
    }

    .map-section {
        width: 65%;
        position: relative;
    }

    .form-chart-column {
        width: 35%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 8px;
    }

    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        background-color: #fffffc;
        color: #444;
    }

    .form-section {
        margin-bottom: 20px;
    }

    .chart-section {
        background-color: #ffffff;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display : none;
    }

    .marker-icon-jump {
        animation: jumpMarker 0.8s infinite alternate;
    }

    @keyframes jumpMarker {
        from {
            opacity: 1;
        }
        to {
            opacity: 0.3;
        }
    }

    /* Style pour la légende */
    .legend {
        position: absolute;
        bottom: 0px;
        background-color: white;
        border: 0.5px solid #444;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        font-size: 14px;
        line-height: 18px;
        color: #333;
        z-index: 1000;
        font-family: 'Poppins', sans-serif;
    }

    .legend h5 {
        margin-top: 0;
        font-size: 16px;
        text-align: center;
        font-weight: 500;
    }

    .legend div {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid #ccc;
    }

    /* Retirer la bordure inférieure du dernier élément */
    .legend div:last-child {
        border-bottom: none;
    }

    /* Style des icônes FontAwesome */
    .legend i {
        font-size: 18px;
        margin-right: 8px;
    }
    .zone-polygon {
        background: blue; /* Couleur de remplissage du polygone */
        clip-path: polygon(50% 0%, 100% 38%, 81% 100%, 19% 100%, 0% 38%); /* Pentagone */
        width: 15px;
        height: 15px;
        display: inline-block;
        margin-right: 8px;
        cursor: pointer;
        text-decoration: none;    
    }
    /* Couleurs pour chaque niveau de "Gap" */
    .polygon-gray { background-color: #b0b0b0; }   /* Gris pour "Pas de Gap" */
    .polygon-blue { background-color: #87CEEB; }   /* Bleu pour "Production juste" */
    .polygon-yellow { background-color: #FFE680; } /* Jaune pour "Gap < 25%" */
    .polygon-orange { background-color: #FFB266; } /* Orange pour "25% < Gap < 50%" */
    .polygon-red { background-color: #FF6666; }  
    .strikethrough {
        opacity: 0.3;
        text-decoration: line-through;
    }
</style>

<main id="main" class="main">
    <div class="pagetitle">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1>Map Madagascar Prévision</h1>
        </div>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('site_liste') }}">Accueil</a></li>
                <li class="breadcrumb-item active"><a href="#">Prévision</a></li>

            </ol>
        </nav>
    </div>

    <section class="section">
        <div class="content-container">
            <!-- Section Carte -->
        
            <div class="map-section">
                <div id="controls">
                    <button onclick="selectStation('pompage', 2)">Station de Pompage (+2)</button>
                    <button onclick="selectStation('forage', 4)">Station de Forage (+4)</button>
                </div>
                <div id="map"></div>
                 <div id="legend" class="legend">
                    <h5>Légende</h5>
                    <div><i class="zone-polygon polygon-gray"></i>Pas de Gap</div>
                    <div><i class="zone-polygon polygon-blue"></i>Production juste</div>
                    <div><i class="zone-polygon polygon-yellow"></i>Gap < 25%</div>
                    <div><i class="zone-polygon polygon-orange"></i>25% < Gap < 50%</div>
                    <div><i class="zone-polygon polygon-red"></i>Gap > 50%</div>
                </div>
            </div>

            <!-- Section Formulaire et Graphique (Colonne de droite) -->
            <div class="form-chart-column">
                <!-- Formulaire -->
                <div class="form-section">
                    <h5>Prévision des productions</h5>
                    <form id="dateForm">
                        <div class="mb-3">
                            <label for="start-date" class="form-label">Date de début :</label>
                            <input type="date" class="form-control" id="start-date" name="start-date">
                        </div>
                        <div class="mb-3">
                            <label for="end-date" class="form-label">Date de fin :</label>
                            <input type="date" class="form-control" id="end-date" name="end-date">
                        </div>
                        <button type="submit" class="btn btn-primary" id="submitPrevision">Soumettre</button>
                        <div id="error-message" style="color: red; display: none;"></div>
                    </form>
                </div>

                <!-- Graphique -->
                <div class="chart-section">
                    <div id="chart">
                        <h5>Statistique de Prévision</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Leaflet and fullscreen -->
<link rel="stylesheet" href="https://unpkg.com/leaflet-fullscreen/dist/leaflet.fullscreen.css" />
<script src="https://unpkg.com/leaflet-fullscreen/dist/Leaflet.fullscreen.min.js"></script>

<!-- Chart.js or ApexCharts 
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->


<script>
    var map = L.map('map').setView([-18.922647647936802, 47.46631766551795], 6);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors'
    }).addTo(map);

    const markerIcons = {
        pompage: L.divIcon({
            className: 'custom-marker pompage',
            html: `
                <img src="/images/pompage.svg" alt="Pompage" width="40" height="40" />
            `,
            iconSize: [40, 40],
            iconAnchor: [20, 40],
        }),
        forage: L.divIcon({
            className: 'custom-marker forage',
            html: `
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M21 10c0 8.84-9 13-9 13s-9-4.16-9-13a9 9 0 0 1 18 0z"></path>
                    <circle cx="12" cy="10" r="3"></circle>
                </svg>
            `,
            iconSize: [40, 40],
            iconAnchor: [20, 40],
        }),
    };

    let sitesData =  {{ sites|raw }};
    var polygons = [];
    var polygonsB = [];
    let previsions = [];
    let selectedStation = null;


    function removePolygons() {
        polygons.forEach(function(polygon) {
            map.removeLayer(polygon);
        });
        polygons = [];
    }
    function selectStation(type, impact) {
        selectedStation = { type, impact };
        alert(`Type de station sélectionné : ${type} (+${impact})`);
    }

    map.on('click', (e) => {
    if (!selectedStation) {
        alert("Veuillez sélectionner un type de station.");
        return;
    }
    
    const { lat, lng } = e.latlng;
    const point = L.latLng(lat, lng);

    // Ajouter le marqueur
    L.marker([lat, lng], { icon: markerIcons[selectedStation.type] }).addTo(map);

    // Vérifier si le point est dans un des polygones
    let isInsidePolygon = false;

    polygons.forEach(function(polygon,index) {
        // Convertir le polygone en GeoJSON
        const geojsonLayer = L.geoJSON(polygon.toGeoJSON());

        // Vérifier si le point est dans la couche GeoJSON
        const results = leafletPip.pointInLayer([lng, lat], geojsonLayer);

        if (results.length > 0) {
            /*isInsidePolygon = true;
            const site = sitesData[index]; // Associer le polygone au site correspondant
            console.log(`Nom du site : ${site.libelle}, ID : ${site.id}`);*/
            const site = polygon.siteData;
            console.log(`Nom du site : ${site.libelle}, ID : ${site.id}`);
            console.log("Le marqueur est dans une zone !");
            //let prevision = previsions;
        }
    });

    if (!isInsidePolygon) {
        alert("Le marqueur n'est pas dans un site !");
    }
});
    function addPolygons(sites) {
            removePolygons();
            sites.forEach(function(site) {
                var coordinates = site.coord.map(function(coord) {
                    return [coord.latitude, coord.longitude];
                });
                const fillColor = getFillColor(site.etat);
                var polygon = L.polygon(coordinates, {
                    color: "#000000",  // couleur de bordure du polygone
                    fillColor: fillColor,  // couleur de remplissage selon l'état
                    fillOpacity: 0.5,  // transparence du remplissage
                    weight: 2  // épaisseur de la bordure
                }).addTo(map)

                polygon.siteData = site;
                polygons.push(polygon);
            });
            polygonsB = polygons;
        }
        function getFillColor(etat) {
            const cleanEtat = String(etat)
            switch (cleanEtat) {
                case '1': return "#87ceeb"; // bleu
                case '2': return "#fffacd"; // jaune
                case '3': return "#ffcc99"; // orange
                case '4': return "#ff6666"; // rouge
                default: return "#a9a9a9"; // gris
            }
        }

    addPolygons(sitesData);

    document.addEventListener('DOMContentLoaded', function() {
        var minDate = "2024-01-01"; // Exemple de date minimum
        var maxDate = "2025-12-31"; // Exemple de date maximum

        var startDatePicker = flatpickr("#start-date", {
            minDate: minDate,
            maxDate: maxDate,
            onChange: function(selectedDates, dateStr, instance) {
                var minDate = instance.selectedDates[0];
                minDate.setDate(minDate.getDate() + 1);
                endDatePicker.set('minDate', minDate);
            }
        });

        var endDatePicker = flatpickr("#end-date", {
            minDate: minDate,
            maxDate: maxDate
        });
    document.getElementById('submitPrevision').addEventListener('click', function(event) {
    event.preventDefault(); // Empêche la soumission par défaut du formulaire

    var startDate = document.getElementById('start-date').value;
    var endDate = document.getElementById('end-date').value;

    if (startDate && endDate) {
        document.querySelector('.chart-section').style.display = 'none';

        fetch('{{ path('site_etiage_prevision') }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-Requested-With': 'XMLHttpRequest',
            },
            body: JSON.stringify({ 'start-date': startDate, 'end-date': endDate })
        })
        .then(response => response.json())
        .then(data => {
            let datas = JSON.parse(data);
            previsions = datas;
            //console.log('Response previsions:', previsions);

            removePolygons();
            datas.forEach(function(data) {
                var coordinates = data.site.coord.map(function(coord) {
                    return [coord.latitude, coord.longitude];
                });
                // Définir la couleur de remplissage en fonction de l'état du site
                var fillColor = "#a9a9a9"; // gris (moins clair)
                if (data.site.etat == '1') {
                    fillColor = "#87ceeb"; // bleu (moins clair)
                } else if (data.site.etat == '2') {
                    fillColor = "#fffacd"; // jaune (moins clair)
                } else if (data.site.etat == '3') {
                    fillColor = "#ffcc99"; // orange (moins clair)
                } else if (data.site.etat == '4') {
                    fillColor = "#ff6666"; // rouge (moins clair)
                }


                var polygon = L.polygon(coordinates, {
                    color: "#000000",  // couleur de bordure du polygone
                    fillColor: fillColor,  // couleur de remplissage selon l'état
                    fillOpacity: 0.5,  // transparence du remplissage
                    weight: 2  // épaisseur de la bordure
                }).addTo(map)

               polygon.on('click', function(e) {
                    map.setView(e.latlng, 11);
                    //currentSelectedMarker = site.id;
                    //console.log("afaka atao ato koa");
                });
                polygon.siteData = data.site;
                polygons.push(polygon);
            });

        })
        .catch(error => {
            console.error('Error during prediction:', error);
            var errorMessageElement = document.getElementById('error-message');
            errorMessageElement.style.display = 'block';
            errorMessageElement.textContent = 'Une erreur est survenue lors de la prévision. Veuillez réessayer.';
        });
        } else {
            alert('Veuillez sélectionner une date de début et une date de fin.');
        }
    });
    });

</script>
{% endblock %}
