{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}
<div class="container">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="tabOverview" data-bs-toggle="tab" data-bs-target="#tabContentOverview" aria-controls="tabContentOverview" aria-selected="true">
                Overview
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabPrices" data-bs-toggle="tab" data-bs-target="#tabContentPrices" aria-controls="tabContentPrices" aria-selected="false">
                Prices
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabReviews" data-bs-toggle="tab" data-bs-target="#tabContentReviews" aria-controls="tabContentReviews" aria-selected="false">
                Reviews
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabAbout" data-bs-toggle="tab" data-bs-target="#tabContentAbout" aria-controls="tabContentAbout" aria-selected="false">
                About
            </button>
        </li>
    </ul>

    {% for production in productions %}
        <p> {{production.quantite}}</p>
        <p>{{production.mois|date('m/Y') }}<p>
    {% endfor %}
</div>

{% endblock %}
