{% extends 'base.html.twig' %}

{% block title %}Ajouter une zone{% endblock %}

{% block menuactive %}map-zone{% endblock %}

{% block body %}
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet.pm@latest/dist/leaflet.pm.css" /> <!-- Leaflet-Geoman CSS -->
    <style>
        #map {
            position: relative;
            height: 500px; /* Assurez-vous que la carte a une hauteur définie */
        }
    </style>

<main id="main" class="main">
    <div class="pagetitle">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1>Formulaire Zone</h1>
        </div>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Modifier Site</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Modifier le site: {{ site.libelle }}</h5>
                        <!-- Table with stripped rows -->
                        <form method="post" action="{{ path('update_site', {'id': site.id}) }}">
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="coords">Coordonnées (WKT)</label>
                                    <input type="text" class="form-control" id="coords" name="coords" readonly>
                                </div>
                            </div>
                            <div id="map"></div>
                            <br><br>
                            <button type="submit" class="btn btn-secondary float-right">Confirmer</button>
                        </form>
                        <!-- End Table with stripped rows -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    
        var map = L.map('map').setView([-18.922647647936802, 47.46631766551795],6);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors'
        }).addTo(map);

        map.zoomControl.setPosition('bottomright');

        const options = {
            position: "topleft",
            drawMarker: false,
            drawPolygon: true,
            drawPolyline: false,
            drawCircle: false,
            drawCircleMarker: false,
            editPolygon: true,
            deleteLayer: true
        };
        var zones = {{ sites|raw }};
        console.log(zones);

        
        // Fonction pour ajouter les polygones à la carte
        function addPolygons(zones) {
            
            map.eachLayer(function(layer) {
                if (layer instanceof L.Polygon) {
                    map.removeLayer(layer);
                }
            });
            zones.forEach(function(zone) {
            var coordinates = zone.coord.map(function(coord) {
                return [coord.latitude,coord.longitude];
            });
                L.polygon(coordinates).addTo(map).bindPopup(zone.libelle);
            });

            
        }

        // Initial display of all polygons
        addPolygons(zones);
        map.pm.addControls(options);
        {# map.pm.disableDraw('Polygon'); #}

        var drawnPolygon;

        function toWKT(coords) {
            let wkt = 'POLYGON((';
            coords[0].forEach((coord, index) => {
                wkt += `${coord.lng} ${coord.lat}`;
                if (index !== coords[0].length - 1) {
                    wkt += ', ';
                }
            });
            
            wkt += '))';
            return wkt;
        }

        function updateCoordinates(layer) {
            var coords = layer.getLatLngs();
            document.getElementById('coords').value = coords;
        }

        map.on('pm:create', function(e) {
            if (drawnPolygon) {
                map.removeLayer(drawnPolygon);
            }
            drawnPolygon = e.layer;
            updateCoordinates(e.layer);
            console.log('Nouvelle couche créée');

            // Écouter les modifications sur la nouvelle couche
            e.layer.on('pm:edit', function(x) {
                updateCoordinates(e.layer);
                console.log('Couches éditée');
            });
        });

        map.on('pm:remove', function(e) {
            if (e.layer === drawnPolygon) {
                document.getElementById('coords').value = '';
                drawnPolygon = null;
                console.log('Couche supprimée');
            }
            //console.log('Couche supprimée');
        });
</script>
{% endblock %}

