{% extends 'base.html.twig' %}

{% block body %}
    <div class="container ">
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-4 ">
                    <div class="card-body ">
                        <h5 class="card-title">Importation de la production d'eau</h5>

                        <p>Production index</p>
                        {% for label, messages in app.flashes %}
                        <div class="alert alert-{{ label }}">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
